/*

Input styles
------------------
*/
.search-bar {
  width: 400px;
  padding: 15px 10px;
  font-size: 15px;
  color: rgb(52, 52, 52);
  border: none;
  font-weight: 600;
  border-radius: 0.2rem;
}

.search-bar:focus {
  outline: none;
}

/*
SearchBar container
*/

.auto {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  z-index: 1;
  padding-top: 20px;
}

/*Cancel button styles*/

.cancel-btn {
  color: rgb(99, 99, 99);
  border: none;
  outline: none;
  font-weight: 500;

  z-index: 1;
  transform: translate(185px, 32px) scale(1.15);
}

.search {
  display: flex;
  flex-direction: row;
}
.active {
  opacity: 1;
}
.inactive {
  opacity: 0;
}

/*
search results container div
*/

.search-results {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
  width: 400px;
  max-height: 400px;
  padding: 10px;
  overflow-y: scroll;
  margin-top: 5px;
  border-radius: 0.2rem;
}

/*
SearchPreview Component
*/

.search-preview {
  transition: 1s;
  display: flex;
  justify-content: space-between;
  padding: 5px 3px;
  padding-right: 10px;
  border-top: 1px solid;
  border-color: rgb(241, 241, 241);
  align-items: baseline;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.sub-header {
  font-weight: 600;
  font-size: 10px;
  color: rgb(121, 121, 121);
}
.name {
  font-size: 15px;
  color: rgb(74, 74, 74);
  font-weight: 800;
  margin: 0rem 0;
}
.age {
  font-size: 15px;
  margin: 3px 0px;
  color: rgb(74, 74, 74);
  font-weight: 600;
}

.start {
  border-top: none;
}
